---
import { getCollection } from "astro:content"

const times = await getCollection("times")
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro Clock</h1>
		<p>The current time is: <time>{new Date().toLocaleTimeString()}</time></p>
		<p>Here are some times from the server:</p>
		<ul>
            {times.map((time) => (
                <li>{new Date(time.data.utc_datetime).toLocaleTimeString()}</li>
            ))}
        </ul>
	</body>
</html>
